@model List<MyMongoDbAjaxProject.DAL.Entities.Category>
@{
    Layout = "~/Views/Shared/_MongoLayout.CsHtml";
    int count = 0;
}

<br />
<br />
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Kategori ID</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory" class="btn btn-primary">Yeni Kategori Girişi</a>
</div>

